.gantt {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border: 1px solid var(--gantt-border);
  border-radius: 4px;
  position: relative;
}

.gantt.dragging {
  user-select: none;
}

.gridContainer {
  flex-shrink: 0;
  height: 100%;
  overflow: hidden;
}

.timelineContainer {
  flex: 1;
  height: 100%;
  overflow: hidden;
  min-width: 0;
}
